/* Definir um fundo escuro para o corpo da página */
body {
    background-color: #121212;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* CSS para o cabeçalho */
.cabecalho {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
}

.imglogo img {
    width: 20%;
    height: auto;
}

.secoes ul {
    margin: 0;
    padding: 0;
}

.secoes ul li {
    display: inline-block;
    padding: 30px;
}

.secoes ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.secoes ul li a:hover {
    color: #ccc;
}

.secoes .dropdown-menu {
    background-color: #333; /* Cor de fundo do dropdown */
    border: none;
}

.secoes .dropdown-menu .dropdown-item {
    color: #f36f21; /* Cor da fonte do dropdown */
    font-family: 'Montserrat', sans-serif;
}
.secoes .dropdown-menu {
    min-width: unset; /* Remove a largura mínima */
    width: auto; /* Define a largura automática */
}

.secoes .dropdown-menu .dropdown-item {
    width: auto; /* Define a largura automática para cada item */
    padding: 5px 10px; /* Ajusta o padding para reduzir o espaço dentro das caixas */
    font-size: medium; /* Reduz o tamanho da fonte */
    line-height: 1.5; /* Ajusta a altura da linha para reduzir o espaço entre as opções */
}


.secoes .dropdown-menu .dropdown-item:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
    color: #f36f21;
}

.FAQ {
    float: right;
    color: white;
}

.FAQ a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

/* CSS para o rodapé */
footer {
    width: 100%;
    background-color: #1c1c1c;
    padding: 10px 0;
    color: white;
    text-align: center;
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
}

/* CSS para o formulário */
.container-form {
    background-color: #1c1c1c;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 80%; /* Ajustar largura do formulário */
    margin: 20px auto;
    color: #fff;
    position: relative; /* Para permitir posicionamento absoluto do campo de imagem */
}

.container-form h2 {
    text-align: center;
    color: #f36f21;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%; /* Para evitar que o título ocupe apenas parte do contêiner */
}
/* Estilizando o texto digitado nos campos quando em foco */
.form-control:focus,
.form-control:not(:placeholder-shown) {
    color: #fff; /* Cor do texto */
}
.form-control option {
    background-color: #1c1c1c; /* Fundo do dropdown menu */
    color: #fff; /* Cor do texto no dropdown menu */
    font-family: 'Roboto', sans-serif;
}

/* Definindo as cores dos campos do formulário */
.form-control {
    width: calc(100% - 20px); /* Ajustar a largura dos campos com margens */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: transparent; /* Fundo transparente */
    color: #fff; /* Cor do texto */
    font-family: 'Roboto', sans-serif;
}

/* Estilizando o placeholder do campo */
.form-control::placeholder {
    color: #ccc; /* Cor do placeholder */
}

/* Estilizando o texto digitado no campo */
.form-control:focus {
    outline: none; /* Remover a borda de foco */
    background-color: transparent; /* Fundo transparente */
}

/* Estilizando o texto digitado no campo (quando o navegador autofill) */
.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset; /* Remover a cor de preenchimento do navegador */
    -webkit-text-fill-color: #fff; /* Cor do texto */
}
/* Estilizando o campo quando está em foco */
.form-control:focus {
    outline: none; /* Remove a borda de foco */
    background-color: transparent !important; /* Mantém o fundo transparente */
}


.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento horizontal entre os campos */
    width: 100%; /* Para garantir que os campos ocupem toda a largura */
}

.form-group {
    flex-basis: calc(33.33% - 10px); /* Garantir que os campos ocupem 1/3 da largura menos o gap */
    margin-bottom: 20px; /* Espaçamento vertical entre os campos */
}

.form-group.full-width {
    flex-basis: 100%;
}

.form-group.foto {
    position: absolute; /* Posicionar o campo de imagem de forma absoluta */
    top: 35px; /* Deslocar 30px para baixo */
    left: 1100px; /* Deslocar 50px para a direita */
    width: 33.33%; /* Largura igual a 1/3 do contêiner */
}

/* CSS para o placeholder de imagem clicável */
.foto-placeholder {
    width: 250px; /* Aumentando a largura */
    height: 250px; /* Aumentando a altura */
    border-radius: 50%;
    background-color: #777; /* Alterando a cor para torná-la mais visível */
    cursor: pointer;
    margin-top: 15px;
    position: relative; /* Para garantir que o ícone de upload fique dentro do placeholder */
}
.form-group.foto label {
    margin-top: 45px; /* Ajuste a margem superior conforme necessário */
}


/* CSS para o ícone de upload */
.foto-placeholder::after {
    content: "\f093"; /* Unicode do ícone de upload */
    font-family: 'Font Awesome 5 Free'; /* Usando a fonte Font Awesome */
    font-weight: 900;
    font-size: 30px;
    color: #fff; /* Cor do ícone */
    position: absolute; /* Posicionando o ícone dentro do placeholder */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.form-control {
    width: calc(100% - 20px); /* Ajustar a largura dos campos com margens */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

textarea.form-control {
    resize: vertical;
    height: 100px;
}

button[type="submit"],
.submit-btn {
    display: block; /* Garante que o botão ocupe toda a largura disponível */
    width: 200px; /* Defina a largura do botão conforme necessário */
    margin: 15px auto; /* Centraliza o botão horizontalmente */
    padding: 15px;
    background-color: #f36f21;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}


button[type="submit"]:hover,
.submit-btn:hover {
    background-color: #642906;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

/* Espaçamento entre cabeçalho e rodapé */
body > header + .container-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Adicionando o ícone de exclamação no botão */
button[type="submit"]::before,
.submit-btn::before {
    content: "!";
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
}
/* CSS para o rodapé */
footer {
    width: 100%;
    background-color: #000; /* Alterando a cor de fundo para preto */
    padding: 10px 0;
    color: white;
    text-align: center;
    position: fixed; /* Fixando o rodapé */
    bottom: 0; /* Colocando o rodapé no final da página */
    left: 0; /* Ajustando o alinhamento à esquerda */
    right: 0; /* Ajustando o alinhamento à direita */
    z-index: 999; /* Garantindo que o rodapé esteja acima de outros elementos */
    font-family: 'Montserrat', sans-serif;
}